/* RESETS AND VARIABLES */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    /* /text-wrap: true; */
}

:root {
    --columns: 12;
    --size-left: 2;
    --size-right: 12;
    --main-size: var(--size-left) / var(--size-right);
    --gap-size: 24px;
}



/* GENERAL */

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap-size);
    justify-content: center;
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 20px;
    }

    main {
        display: grid;
        grid-template-columns: repeat(12), 1fr;
        gap: var(--gap-size);
        width: 1040px;
    }

    header {
        grid-template-columns: repeat(12), 1fr;
    }
}

@media screen and (min-width: 1240px) and (max-width: 1440px) {
    html {
        font-size: 16px;
    }

    main {
        display: grid;
        grid-template-columns: repeat(12), 1fr;
        gap: var(--gap-size);
        margin-left: 200px !important;
        margin-right: 200px !important;
    }

    header {
        grid-template-columns: repeat(12), 1fr;
        gap: var(--gap-size);
    }
}

@media screen and (min-width: 905px) and (max-width: 1239px) {
    html {
        font-size: 16px;
    }

    main {
        display: grid;
        grid-template-columns: repeat(12), 1fr;
        gap: var(--gap-size);
    }

    header {
        display: grid;
        grid-template-columns: repeat(12), 1fr;
    }
}


main section {
    display: contents;
}

hr {
    grid-column: 1 / 13 !important;
    margin: 50px 0;
}

a {
    text-decoration: none;
    transition: all 0.05s ease;
}

a:hover {
    transform: scale(103%);
}

li {
    list-style: none;
}

.solid-button {
    display: inline-block;
    background-color: #2d3740;
    color: aliceblue !important;
    border: 10px solid #2d3740;
    border-radius: 10px;
    transition: all 0.05s ease;
}

.solid-button:hover {
    transform: scale(1.03);
}

.blue {
    color: #2393a1;
}

.gray {
    color: #35414b;
}

.center {
    text-align: center;
}



/* RESPONSIVENESS THINGS */

@media screen and (min-width: 1440px) {
    .left {
        grid-column: 1 / 7 !important;
    }

    .right {
        grid-column: 7 / 13 !important;
    }

    .full {
        grid-column: 1 / 13 !important;
    }

    .full-width {
        width: 1040px !important;
    }
}

@media screen and (min-width: 1240px) and (max-width: 1440px) {
    .left {
        grid-column: 1 / 7 !important;
    }

    .right {
        grid-column: 7 / 13 !important;
    }

    .full {
        grid-column: 1 / 13 !important;
    }

    .full-width {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media screen and (min-width: 905px) and (max-width: 1239px) {
    .left {
        grid-column: 1 / 7 !important;
    }

    .right {
        grid-column: 7 / 13 !important;
    }

    .full {
        grid-column: 1 / 13 !important;
    }

    .full-width {
        width: 840px !important;
    }
}






/* HEADER */

header {
    text-wrap: nowrap;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 9vh;
    color: #2d3740;
    background-color: lightblue;
    align-content: center;
    margin-bottom: 80px;
}

#header-container {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: var(--gap-size);

    position: sticky;
    top: 0;
    margin: auto;
}

#header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    grid-column: 8 / 13;
}


#header-title {
    font-family: "Oxanium", Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    font-weight: bolder;
}

#header-logo {
    margin-right: 15px;
    margin-bottom: 5px;
}


header a {
    display: flex;
    align-items: center;
}

header a:visited {
    color: #2d3740;
}

#hamburger-menu {
    display: none;
    width: 100px;
    height: 100px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.25s ease;
}

#hamburger-menu:hover {
    background-color: #b1bfc9;
}

#hamburger-menu img {
    width: 100%;
    height: 100%;
}


@media screen and (min-width: 1440px) {
    header {
        height: 120px;
    }

    #header-container {
        width: 1040px !important;
    }

    #header-left {
        grid-column: 1 / 4;
    }

    #header-right {
        grid-column: 7 / 13;
    }
}

@media screen and (min-width: 1240px) and (max-width: 1440px) {
    header {
        height: 100px;
        /* padding-left: 200px;
        padding-right: 200px; */
        width: 100% !important;
    }

    #header-container {
        margin-left: 200px;
        margin-right: 200px;
    }

    #header-left {
        grid-column: 1 / 5;
    }

    #header-right {
        grid-column: 7 / 13;
    }
}

@media screen and (min-width: 905px) and (max-width: 1239px) {
    header {
        height: 100px;
        width: 100% !important;
    }

    #header-container {
        width: 840px;
    }

    #header-left {
        grid-column: 1 / 5;
    }

    #header-right {
        grid-column: 7 / 13;
    }
}




/* MAIN */


h1 {
    font-size: 4.5rem;
    margin: 0% 0 5%;
}

#subtitle {
    margin: 20px 5px;
    margin-bottom: 40px;
}

#image-container {
    margin: auto;
}

#main-image {
    margin-top: 0%;
    width: 50vw;
    height: 50vw;
}

@media screen and (min-width: 1440px) {
    h1 {
        font-size: 3.5rem;
    }

    #main-container {
        grid-column: 1 / 8;
    }

    #image-container {
        grid-column: 8 / 13;
    }

    #main-image {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 1240px) and (max-width: 1440px) {
    h1 {
        font-size: 3.5rem;
    }

    #main-container {
        grid-column: 1 / 7;
        min-width: 410px;
        
    }

    #subtitle {
        min-width: 430px;
        max-width: 480px;
    }

    #image-container {
        grid-column: 8 / 13;
    }

    #main-image {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 905px) and (max-width: 1239px) {
    h1 {
        font-size: 3.5rem;
    }

    #main-container {
        grid-column: 1 / 7;
        min-width: 410px;
        
    }

    #subtitle {
        min-width: 430px;
        max-width: 480px;
    }

    #image-container {
        grid-column: 8 / 13;
    }

    #main-image {
        width: 100%;
        height: auto;
    }
}





/* HIGHLIGHTS */


#highlights {
    line-height: 1.6rem;
}

#highlights-title {
    margin: 20px;
    margin-bottom: 1.5rem;
    font-size: 2.7rem;
    grid-column: 1 / 13;
}

#highlights-left {
    grid-column: 1 / 7;
}


#highlights-right {
    grid-column: 7 / 13;
}


#highlights-list {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 10vw;
}

.highlights-header {
    font-weight: bold;
    display: block;
    font-size: 1.2rem;
    margin-bottom: 2px;
}

#highlights ul li {
    margin: 1em;
}




/* BENEFITS */


#benefits {
    padding: 15px;
    padding-top: 25px;
    line-height: 1.6rem;
    grid-column: var(--main-size);
}

#benefits-title {
    font-size: 2.7rem;
    grid-column: 1 / 13;
    margin-bottom: 2rem;
}


.benefits-header {
    font-weight: bold;
    display: block;
    font-size: 1.2rem;
    margin-bottom: 2px;
}

#benefits-left {
    grid-column: 1 / 7;
}

#benefits-right {
    grid-column: 7 / 13;
}

#benefits ul li {
    margin: 1em;
}





/* FAQS */


#faqs {
    display: block;
    box-shadow: 0 0 15px #b1bfc9;
    width: 60vw;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    grid-column: var(--main-size);
    margin: auto;
}

#faqs-title {
    width: 100%;
    text-align: center;
    margin: 15px;
    font-size: 2.5rem;
}

#faqs-subtitle {
    width: 100%;
    text-align: center;
    margin: 15px;
    color: rgb(79, 79, 85);
}

#faqs summary {
    list-style: none;

}

#faqs summary:hover {
    color: #ff4b6d;
}

.answer {
    margin: 5px;
    margin-top: 10px;
}

#faqs details {
    font-size: 1.1rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 15px;
    background-color: #f9f9f9;
    width: 85%;
    margin: 10px auto;
}

#faqs ul {
    margin-top: 10px;
    margin-left: 30px;
}

#faqs-container {
    display: flex;
    justify-content: center;
}

#faqs-left {
    margin-right: 1%;
    width: 48%;
}

#faqs-right {
    margin-left: 1%;
    width: 48%;
}


/* JOIN */

#join {
    grid-column: 1 / 13;
}

#join-today-btn {

    display: block;
    margin: 30px auto;
    padding: 30px;
    font-size: 2.8rem;
    width: fit-content;
    border-radius: 20px;
    transition: all 0.3s ease;
}

#join-today-btn:hover {
    background-color: #596772;
    border-color: #596772;
}










/* FOOTER */


footer {
    display: block;
    font-size: 16px;
    width: 100vw;
    background-color: aliceblue;
    /* padding: 10px 10%; */
    margin-top: 80px;
}

#footer-title {
    font-family: "Oxanium", Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    font-weight: bolder;
}

footer a {
    color: #2d3740 !important;
}

footer ul {
    list-style: none;
    padding: 0px;
}

#footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    height: 140px;

}

.footer-section {
    margin: 20px;
    text-align: left;
}

#footer-subtitle {
    margin: 10px;
}

#socials-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 5px;
}

#socials-container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socials-icon {
    margin: 0px 10px;
    color: black;
    background-color: lightblue;
    border: 8px solid lightblue;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.socials-icon:hover>* {
    transform: scale(1.25);
}

.socials-icon:hover {
    background-color: rgb(138, 190, 207);
    border: 10px solid rgb(138, 190, 207);
    border-radius: 20px;
}

#deveco-footer {
    text-align: center;
}

#footer-copywrite {
    display: block;
    width: 100%;
    text-align: center;
    font-size: .85em;
}

.location-icon * {
    display: inline-block;
}

#footer-location-container * {
    display: inline-block;
}

#footer-location-container {
    min-width: 120px;
}

.location {
    display: block;
    margin: 5px 0;
}

#footer-about {
    min-width: 120px;
}

#footer-about * {
    display: block;
    margin: 5px 0;
}

#footer-contact * {
    margin: 5px 0;
}

@media screen and (min-width: 1440px) {
    #footer-container {
        width: 1040px;
        margin: auto;
    }
}

@media screen and (min-width: 1240px) and (max-width: 1440px) {
    #footer-container {
        width: stretch;
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media screen and (min-width: 905px) and (max-width: 1239px) {
    #footer-container {
        margin: auto;
    }
}