<section id="sign-up" class="section cta py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6">
        {{ with .content.title }}
          <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 text-center">
        <!-- {{ with .content.image }}{{ partial "utilities/image-fluid.html" . }}{{ end }} -->
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSelbrGjdL0KqZhjJZ-wcMnwlADhmHt65lEWJEKT41gqx4sufw/viewform?embedded=true" width="640" height="926" frameborder="0" marginheight="0" marginwidth="0"></iframe>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 text-center">
        {{ with .content.button }}
          <a class="btn btn-outline-primary px-4" href="{{ .url }}">{{ .label }}<span class="ms-2">{{ partial "icons/arrow-right.html" }}</span></a>
        {{ end }}
      </div>
    </div>
  </div>
</section>
