
<section class="section faq py-5">
<div class="container faq-container">
    <h1>{{.content.title}}</h1>
    <p>{{.content.text}}</p>

    <div class="faq-columns">
      <div class="faq-column">
        {{ range $i, $e := .content.left }}
            <div class="faq">
                <h3 onclick="toggleContent1(this)">{{$e.question}}</h3>
                <div class="faq-content">{{$e.answer}}</div>
            </div>
        {{end}}
        </div>
        <div class="faq-column">
        {{ range $i, $e := .content.right }}
            <div class="faq">
                <h3 onclick="toggleContent2(this)">{{$e.question}}</h3>
                <div class="faq-content">{{$e.answer}}</div>
            </div>
        {{end}}
            
        </div>
    

  </div>
</div>
</section>

<script type="text/javascript">
  function toggleContent1(element) {
    const content = element.nextElementSibling;
    content.style.display = content.style.display === "block" ? "none" : "block";
}

function toggleContent2(element) {
    const content = element.nextElementSibling;
    content.style.display = content.style.display === "block" ? "none" : "block";
}
</script>