.deveco-highlights {
/*    background: linear-gradient(135deg, #f9f9f9, #e0e0e0); */
    /* Gradient from light grey to a slightly darker grey */
    padding: 20px;
    border-radius: 8px;
/*    max-width: 800px;*/
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.deveco-highlights h1 {
    width: 100%;
/*    font-size: 24px;*/
    text-align: center;
/*    color: #333;*/
}

.deveco-highlights .highlight {
/*    color: #e63946;*/
    font-weight: bold;
}

.deveco-highlights ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.deveco-highlights li {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: start;
    margin: 15px 0;
    width: 48%; /* Adjust the width for two columns */
}

.deveco-highlights .icon {
    font-size: 28px;
    margin-right: 5px; /* Space between icon and text */
    flex-shrink: 0;
    transition: transform 0.3s; /* Smooth transition for size change */
}

.deveco-highlights h3 {
    font-size: 18px;
    margin: 0;
/*    color: #333;*/
    display: flex; /* Align icon and text in a row */
    align-items: center; /* Center vertically */
    transition: transform 0.3s; /* Smooth transition for text size change */
}

.deveco-highlights p {
    margin: 5px 0 0;
/*    color: #666;*/
    transition: transform 0.3s; /* Smooth transition for size change */
}

.deveco-highlights h3:hover,
.deveco-highlights h3:hover .icon,
.deveco-highlights h3:hover + p {
    transform: scale(1.1); /* Increase size for h3 and p */
    animation: shake 0.5s; /* Trigger shake animation */
}

@keyframes shake {
    0% { transform: translate(0); }
    25% { transform: translate(-2px, 0); }
    50% { transform: translate(2px, 0); }
    75% { transform: translate(-2px, 0); }
    100% { transform: translate(0); }
}

.deveco-highlights p {
    margin: 5px 0 0;
/*    color: #666;*/
}